:root {
    --brown: #8B4513;
    --cream: #FFFDD0;
    --darkbrown: #67340f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 0.5rem;
    background-color: var(--cream);
}

header, footer {
  background-color: var(--brown);
  color: var(--cream);
  text-align: center;
  padding: 1em;
  border-radius: 7px;
}

h1 {
    font-size: 2.3em;
    margin-bottom: 0.6em;
}

.menu-toggle {
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--cream);
  cursor: pointer;
}

.menu {
  display: none;
  flex-direction: column;
  background-color: var(--brown);
  border-radius: 7px;
  margin-top: 1rem;
}

.menu.active {
  display: flex;
}

nav a {
  margin: 20px;
  padding: 0.7em;
  color: var(--cream);
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

nav a:hover {
  background-color: var(--cream);
  color: var(--brown);
  border-radius: 7px;
  transition: background-color 0.5s, color 0.5s;
}

main {
  padding: 20px;
  background-image: url('../images/background.webp');
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: overlay;
  margin: 7px auto;
  color: var(--darkbrown);
}

h2 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
    font-style: italic;
}

article {
  border: 2px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 7px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0.4em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}