:root {
    --brown: #8B4513;
    --cream: #FFFDD0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 1rem;
}

header, footer {
  background-color: var(--brown);
  color: var(--cream);
  text-align: center;
  padding: 1em;
}

nav a {
  margin: 20px;
  padding: 1em;
  color: var(--cream);
  text-decoration: none;
}

main {
  padding: 20px;
}

article {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
}