:root {
    --yellow: #ffcb01;
    --blue: #312682;
    --green: #019642;
}

body {
    font-family: 'Abel', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: var(--blue);
    border-bottom: 30px solid var(--green);
}

h1 {
    color: var(--yellow);
    text-align: center;
    width: 100%;
    height: 4rem;
    font-size: 3rem;
    margin: 0;
    padding: 1rem;
}

.hero{
    position: relative;
}

.hero img {
    display: blocks;
    width: 100%;
    height: auto;
}

.data {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background: #fff;
    padding: 1rem;
}

.weather {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background: white;
    padding: 1rem;
}

.data, .weather {
    width: 300px;
    background: rgba(255,255,255,.85);
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.data h2, .weather h2 {
    margin-top: 0;
    background: var(--green);
    padding: .5rem;
}

.data ul, .weather ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.data li,
.weather li {
    margin-bottom: .5rem;
}

footer {
    background: var(--blue);
    color: var(--yellow);
    text-align: center;
    padding: 1rem;
    font-size: 1.1rem;
}



@media screen and (max-width: 700px) {
    .data, .weather {
        position: static;
        width: 100%;
        margin: 1rem;
    }

    header h1 {
        max-width: 100%;
    }
}